<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/add.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/button.css}">


<title th:text="'施設'+${data.btnName}+'完了'"></title>
</head>
<body>

	<div th:replace="util/fragments::header_block(|施設${data.btnName}完了画面|)"></div>
	<div id="container">


		<p class="completemessage"
			th:text="'施設情報の'+${data.btnName}+'が完了しました。'"></p>

		<div class="bottombutton">
			<a th:href="@{/menu}" class="btn-animation-menu"><span>メニューへ戻る</span></a>
		</div>


	</div>
	<!-- container -->
	<div th:replace="util/fragments::footer_block()"></div>
</body>
</html>
